* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  position: relative;
  height: 100%;
  background-color: #f5f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul,
ol {
  list-style: none;
}
ul li {
  margin-bottom: 10px;
}
h1,
.imputarea {
  font-family: rubik, sans-serif;
}
::placeholder {
  color: #b1bacb;
}

.container {
  min-height: 80vh;
  max-width: 90vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 40.63rem;
  max-height: 90vh;
  background-color: #ffffff;
  border-radius: 1rem;
  overflow: hidden;
}
.tasks-container {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 1rem;
}

h1 {
  font-family: rubik;
  font-size: 2.5rem;
  color: #11175e;
  margin-bottom: 1.5rem;
}
h3 {
  font-size: 1rem;
  color: #b1bacb;
  font-weight: 300;
  text-align: end;
  margin-top: 20px;
}
img {
  margin-top: 0.5rem;
}

.input-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

#inputTarefa {
  width: 17rem;
  height: 3.12rem;
  padding: 1rem;
  border: 0.5px solid #d5d8df;
  border-radius: 0.5rem;
}

#inputEtiqueta {
  width: 17rem;
  height: 3.12rem;
  padding: 1rem;
  border: 0.5px solid #d5d8df;
  border-radius: 0.5rem;
}

#botao {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  background-color: #2d70fd;
  width: 3.12rem;
  height: 3.12rem;
  padding: 1rem;
  color: #ffffff;
  border-radius: 0.25rem;
  border: none;
  font-family: inter;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

#botao:hover {
  background-color: #3367d6;
  transform: translateY(-2px);
  transition: transform 0.3s ease-in-out;
}

#botao:active {
  transform: translateY(0);
}

.tasks-cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  padding: 15px 20px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 8px;
  box-shadow: 0px 10px 15px -3px rgba(34, 34, 34, 0.033);
}

.task-texts {
  display: flex;
  flex: 1;
  min-width: 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.task-title {
  font-size: 1rem;
  color: #001747;
  padding: 1rem;
}

.task-nome {
  margin-bottom: 0.6rem;
  font-size: 1rem;
  color: #001747;
}

.subtextos {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.task-etiqueta {
  border: 1px solid #c4c4c4;
  padding: 0.38rem;
  border-radius: 15px;
  display: inline-block;
  color: #b1bacb;
  font-size: 0.75rem;
}

.date {
  color: #b1bacb;
  font-size: 0.85rem;
}
#botao-concluir:hover {
  background-color: #3367d6;
  transform: translateY(-2px);
}

#botao-concluir:active {
  transform: translateY(0);
}
.botao-concluir {
  align-self: flex-end;
  flex-shrink: 0;
  white-space: nowrap;
  background-color: #2d70fd;
  color: white;
  border: none;
  width: 120px;
  height: 3.12rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 0.4rem;
}

.footer-line {
  display: flex;
  flex-shrink: 0;
  margin-top: auto;
  flex-direction: column;
  border-top: 1px solid #e0e0e0b6;
  width: 100%;
}

@media screen and (max-width: 738px) {
  h1 {
    font-size: 1.9rem;
  }

  img {
    margin-left: 6rem;
  }

  .container {
    width: 100%;
    padding: 1.7rem;
  }

  .input-area {
    flex-direction: column;
  }

  #inputTarefa,
  #inputEtiqueta {
    width: 100%;
  }

  #botao {
    width: 100%;
  }

  .input-area #botao {
    width: 100%;
    height: 2.9rem;
  }

  .tasks-cards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-height: 120px;
  }

  .botao-concluir {
    width: 100%;
    margin: 1rem auto;
    order: 2;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .task-info {
    order: 1;
  }

  .footer-line {
    position: relative;
    top: 20px;
    width: 100%;
    border-top: 1px solid #e0e0e0b6;
    display: flex;
    flex-direction: column;
  }

  h3 {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 15px;
    color: #b1bacb;
    font-weight: 300;
  }
}
